<div class="register-container">
  <form class="add-key-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>Create a Username && Add your TMBD API Key</h1>
    <mat-form-field>
      <mat-label>Enter your username</mat-label>
      <input matInput formControlName="username" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your TMDB API Key</mat-label>
      <input matInput formControlName="tmdb_key" required />
    </mat-form-field>
    <button class="button" type="submit">Next</button>
  </form>
</div>
