<app-nav-bar></app-nav-bar>
<div class="register-container">
  <div class="add-key-form">
    <h1>Create a Username && Add your TMBD API Key</h1>
    <mat-form-field>
      <mat-label>Enter your username</mat-label>
      <input
        matInput
        placeholder="Your username"
        [formControl]="username"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your TMDB API Key</mat-label>
      <input
        matInput
        placeholder="Your API Key"
        [formControl]="apikey"
        required
      />
    </mat-form-field>
    <a class="button" routerLink="/register/choosePlan">Next</a>
  </div>
</div>
