<div class="movie-list-item">
  <img
    class="movie-poster"
    src="{{ 'https://image.tmdb.org/t/p/original' + movie.poster_path }}"
    alt="{{ movie.title }}"
  />
  <h3 class="movie-title">{{ movie.title }}</h3>
  <span
    >{{ movie.release_date | date : "yyyy" }} -
    {{ movie.original_language | uppercase }} -
    {{ movie.vote_average | number : "1.1-1" }}</span
  >
  <p class="movie-overview">{{ movie.overview }}</p>
  <!-- <a class="button" routerLink="/movie/{{ movie.id }}">More Info</a> -->
</div>
