<!-- <app-nav-bar></app-nav-bar> -->
<div class="home-banner">
  <h1>Unlimited movies, TV shows, and more</h1>
  <h2>Watch anywhere. Cancel anytime.</h2>
  <h3>
    Ready to watch? Enter your email to create or restart your membership.
  </h3>
</div>

<div *ngIf="user.id.length == 0" class="home-register-form">
  <mat-form-field>
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="Your email" [formControl]="email" required />
  </mat-form-field>
  <a class="button" routerLink="/register">Get Started</a>
</div>
<div *ngIf="user.id.length > 0" class="home-register-form">
  <a class="button" routerLink="/movies">Watch Movies</a>
</div>
<!-- <div class="home-content">
  <app-movie-list></app-movie-list>
</div> -->
